<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mission-control</key>
	<dict>
		<key>code</key>
		<integer>2</integer>
	</dict>
	<key>application-windows</key>
	<dict>
		<key>code</key>
		<integer>2</integer>
		<key>long</key>
		<true/>
	</dict>
	<key>next-space</key>
	<dict>
		<key>code</key>
		<integer>3</integer>
	</dict>
	<key>previous-space</key>
	<dict>
		<key>code</key>
		<integer>4</integer>
	</dict>
</dict>
</plist>
